/*-- scss:defaults --*/

@import "https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap";

$primary: #702552;
$body-bg: #fff;
$body-color: #333;
$link-color: #34d;
$navbar-bg: $primary;
$navbar-fg: #fff;
$font-family-sans-serif: 'Open Sans', system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif;
$headings-font-family: 'Titillium Web', system-ui, -apple-system, Segoe UI, Roboto, Helvetica Neue, Noto Sans, Liberation Sans, Arial, sans-serif;
$headings-font-weight: 400 !important;

/*-- scss:rules --*/

#quarto-header {
    &>nav.navbar {
        @extend .page-columns;
        padding-inline: 0;

        &>.navbar-container {
            @extend .column-page;
            padding-inline: 0;
        }

        .navbar-brand-container {
            max-width: 100%;
        }
    }
}

main {
    td, th {
        ul {
            margin-bottom: 0;
        }
    }
}

table.table.agenda {
    th:first-child {
        width: 4em;
    }
    h3 {
        font: bold 1em var(--bs-body-font-family) !important;
        line-height: var(--bs-body-line-height) !important;
        margin: 0;
    }
    address {
        font-style: italic;
        margin: 0;
    }
    ul, details, blockquote, dl {
        margin: 0.25rem 0 0.5rem;
    }
    ul.resources {
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5em 1em;
    }
}
